@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$symbolNameColor: #333;
$priceColor: #999;
$upColor: #F44242;
$downColor: #1DAD55;
$chartColor: #ccc;

.tilesetQuote-component-container {
  box-sizing: border-box;
  position: relative;
  //border: 1px solid #EBEBEB;
  height: 80px;
  background-color: #fff;
  display: inline-block;
  @include clearfix;
  .lineChat-svg {
    width: 80px;
    height: 24px;
    position: absolute;
    bottom: 10px;
    left: 16px;
    .path {
      stroke: $chartColor;
    }
  }

  .market-item-container {
    box-sizing: border-box;
    padding: 10px 12px 10px 11px;
    float: left;
    width: 170px;
    height: 80px;
    border-left: 1px solid #F0F1F5;
    border-right: 1px solid #FFF;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    &:last-of-type {
      border-right: 1px solid #F0F1F5;
    }
    &:first-of-type, &:last-of-type {
      width: 175px;
    }
    &:hover {
      //background-color: #e6f2ff;
      border: 1px solid #D8D8D8;
    }
  }
  .market-quotecard-container {
    @include clearfix;
    .market-quotecard-left {
      float: left;
    }
    .market-quotecard-right {
      float: right;
    }
    .symbol-name {
      font-size: 12px;
      color: $symbolNameColor;
      line-height: 12px;
    }
    .last-price {
      font-size: 12px;
      line-height: 12px;
      color: $priceColor;
      padding-top: 6px;
    }
    .change, .change-rate {
      &.up {
        color: $upColor;
      }
      &.down {
        color: $downColor;
      }
    }
    .change {
      font-size: 18px;
      line-height: 18px;
    }
    .change-rate {
      padding-top: 5px;
      font-size: 12px;
      text-align: right;
    }
  }
}


